@charset "UTF-8";
h3 , h6{
	margin-top: 0;
	border-bottom: 1px dotted #666;
	padding: 5px 0;
	padding-bottom: 15px;
}

.category-field .dropdown-content {
	background-color: white !important;
	width: 100% !important;
	z-index: 10;
}

.clear {
	clear: both;
}

#searchBlock {
	margin-top: 30px;
}

.searchbtn {
	height: 3rem !important;
	width: 9% !important;
}

#likeBtn i{
	    vertical-align: top;
	    cursor: pointer;
}

.btn2{
	 background-color:white !important;
	  color: #ad855a !important;
	  border: 1px solid #ad855a ;
}
 .btn3{
	  background-color:white !important;
	  color: #f50057 !important;
	  border: 1px solid #f50057 ;
}
.material-tooltip {
  transform: translateY(0px) translateX(-5px) !important;
}

.pagination li i {
	vertical-align: middle;
}

.pagination a.disabled {
	color: #AAA !important;
}