@charset "UTF-8";



/*페이징*/
.center {
    text-align: center;
}

ul.pagination{
	list-style-type:none
}

ul.pagination li{
    display: inline-block;
}

ul.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
    cursor: pointer;
}

ul.pagination a.active {
    background-color: #FFC107;
    color: white;

 

}

ul.pagination a:hover:not(.active) {background-color: #ddd;}

div#pageinfo{
	font-style: italic;
	font-weight: bold;
	float: right;
}

/* 모달 팝업 */
div#select-modal { 
	display : none; /* 기본적으로 안보이기 */  
}

.lightcyan {
    background-color: #f9fbe7;
}
.important {
   color: #827717;
}
.btn2{
	background-color:white !important;
	  color: #ad855a !important;
	  border: 1px solid #ad855a ;
}

@media screen and (max-width: 670px){

body {
max-width: 100%;
overflow-x: hidden;
}

.table-container{
    width:100%;  
    
   }
   
table{
	font-size: 11px;
    width:auto;
    white-space: nowrap;
} 
 
}
