@charset "UTF-8";

@media screen and (max-width: 670px){

body {
max-width: 100%;
overflow-x: hidden;
}

.table-container{
    width:100%;  
    
   }
   
table{
	font-size: 11px;
    width:auto;
    white-space: nowrap;
} 
 
}