@charset "UTF-8";

html, body{
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
}
body {
    max-width: 100%;
    height: auto;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif, ; */
    margin: 0;
    padding: 0;   
    color:#000;
    margin: 0;
    padding: 0;
}





/* */

/* introduce.css 공통 */

.carousel .carousel-item{
	height: 400px;
}

.left{
    float: left;
}

.hr{
    padding: 0px 30px 60px 30px;
}
/* intro */
#i_intro{
    background-color: #ffffff;
    height: 100%;
    
}

.i_half{
    height: 917px;
    padding: 0px 50px 200px 50px;
}

.text_title{
	text-align: left;
	padding: 20px 0px 0px 50px;
}

.text{
    color: #000000;
    text-align: left;
}



/* room */
#i_room{
    background-color: #ffffff;
    height: 1080px;
    
}

.r_half{
    height: 600px;
    padding: 0px 50px 200px 50px;
}

.r_size{
    height: 500px;
}

.price{
    /* padding-top: 50px; */
    height: 100%;
}

.hober{
    border-bottom: 2px solid turquoise;
}
/* map */
#i_map{
    background-color: #ffffff;
    height: 1080px;
}

#map{
	width: 100%;
	height: 500px;
}

.map2{
    padding: 40px 40px 60px 40px;
}

.t1{
	color: #f18205;
}

.t2{
	color: #1b8900;
}

.set-1{
	font-size: 20px!important;
}

.set-2{
	word-break : keep-all;
}

/* 사이즈 */
@media screen and (min-width: 600px){
    .w-1 {width: 8.33%; }  /* 1칸 짜리 폭 */
    .w-2 {width: 16.66%; }  /* 2칸 짜리 폭 */
    .w-3 {width: 25%;}
    .w-4 {width: 33.33%;}
    .w-5 {width: 41.66%;}
    .w-6 {width: 50%;}
    .w-7 {width: 58.33%;}
    .w-8 {width: 66.66%;}
    .w-9 {width: 75%;}
    .w-10 {width: 83.33%;}
    .w-11 {width: 91.66%;}
    .w-12 {width: 100%;}
    }

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');



.test{
    margin: 20px !important;
}

.clear{
    clear: both;
}


/***************************************************************************************************************/

