@charset "UTF-8";

html, body{
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
}
body {
    max-width: 100%;
    height: auto;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif, ; */
    margin: 0;
    padding: 0;   
    color:#000;
    margin: 0;
    padding: 0;
}


/* */

/* introduce.css 공통 */

.left{
    float: left;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: auto;
    height: auto;
    background-size: cover;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .center{
      text-align: center;
  }
  .def{
      width: 100%;
      height: 100%;
  }

.hr{
    padding: 0px 30px 60px 30px;
}
/* intro */
#i_intro{
    background-color: #ffffff;
    height: 100%;
    
}

.i_half{
    height: 917px;
    padding: 0px 50px 200px 50px;
}

.text_title{
	text-align: left;
	padding: 20px 0px 0px 50px;
}

.text{
    color: #000000;
    text-align: left;
}



/* room */
#i_room{
    background-color: #ffffff;
    height: 1080px;
    
}

.r_half{
    height: 600px;
    padding: 0px 50px 200px 50px;
}

.r_size{
    height: 500px;
}

.price{
    /* padding-top: 50px; */
    height: 100%;
}

.hober{
    border-bottom: 2px solid turquoise;
}
/* map */
#i_map{
    background-color: #ffffff;
    height: 1080px;
}

.map2{
    padding: 40px 40px 60px 40px;
}

/* 사이즈 */
@media screen and (min-width: 600px){
    .w-1 {width: 8.33%; }  /* 1칸 짜리 폭 */
    .w-2 {width: 16.66%; }  /* 2칸 짜리 폭 */
    .w-3 {width: 25%;}
    .w-4 {width: 33.33%;}
    .w-5 {width: 41.66%;}
    .w-6 {width: 50%;}
    .w-7 {width: 58.33%;}
    .w-8 {width: 66.66%;}
    .w-9 {width: 75%;}
    .w-10 {width: 83.33%;}
    .w-11 {width: 91.66%;}
    .w-12 {width: 100%;}
    }

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');



.test{
    margin: 15px !important;
}

.clear{
    clear: both;
}




/***************************************************************************************************************/

