
#top, #midle, #buttom, #tbody, #tbody1{
    padding: 0px 0px;
    text-align: center;
    vertical-align: middle;
}

#tbody1{
	border-collapse: inherit;
}

#tbody1{
    width: 100px;
    height: 200px;
    z-index: 1;
    position: fixed;
    top: 30vh;
    right: 5vw;
}

#tbody{
	background-color: rgba(255,255,255,0.9);
}

#top{
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px 10px 0px 0px;	
}

#midle{
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#midle:hover{
background-color: rgba(153,102,051,0.8);
}

#link{
    color: #ff932d;
    text-decoration: none;
}

#buttom{
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px 0px 10px 10px;	
    }